<div class="card">
  <p-table #dt styleClass="p-datatable-striped" dataKey="id"
           [columns]="columns" [value]="spendingList" [loading]="loading"
           [paginator]="paginator" [rows]="rows" [showCurrentPageReport]="showCurrentPageReport"
           currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
           [rowsPerPageOptions]="rowsPerPageOption"
           [filterDelay]="0" [globalFilterFields]="globalFilterFields"
           [(selection)]="selectedSpendingList"
           [scrollable]="true" scrollHeight="flex">
    <ng-template pTemplate="caption">
      <div class="table-header">
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="text"
                   (input)="dt.filterGlobal($event.target.value, 'contains')"
                   placeholder="Global Search" class="p-inputtext" />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th></th>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{col.header}} <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
      </tr>
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th>
          <input type="number" (input)="dt.filter($event.target.value, 'id', 'equals')"
                 placeholder="Search by ID" class="p-column-filter p-inputtext">
        </th>
        <th style="width: 3rem">
          <div class="p-field">
          <p-calendar (onSelect)="onDateSelect($event)" (onClearClick)="dt.filter('', 'spendingDate', 'equals')"
            [showButtonBar]="true" [readonlyInput]="true" [monthNavigator]="true" [yearNavigator]="true"  [touchUI]="true"
            yearRange="2000:2030" inputId="range" selectionMode="range" styleClass="p-column-filter" placeholder="Date"
            dateFormat="dd-mm-yy" panelStyleClass="datepicker"></p-calendar>
          </div>
        </th>
        <th>
          <input type="number" (input)="dt.filter($event.target.value, 'amount', 'equals')"
                 placeholder="Search by amount" class="p-column-filter p-inputtext">
        </th>
        <th>
          <p-multiSelect [options]="categoryList" placeholder="All" (onChange)="onCategoryChange($event)"
                         styleClass="p-column-filter" optionLabel="name">
            <ng-template let-option pTemplate="item">
              <div class="p-multiselect-representative-option">
                <span class="p-ml-1">{{option.label}}</span>
              </div>
            </ng-template>
          </p-multiSelect>
        </th>
        <th>
          <p-multiSelect [options]="accountList" placeholder="All" (onChange)="onAccountChange($event)"
                         styleClass="p-column-filter" optionLabel="name">
            <ng-template let-option pTemplate="item">
              <div class="p-multiselect-representative-option">
                <span class="p-ml-1">{{option.label}}</span>
              </div>
            </ng-template>
          </p-multiSelect>
        </th>
        <th>
          <input type="text" (input)="onNoteChange($event)"
                 placeholder="Search by Note" class="p-column-filter p-inputtext">
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-spendingList let-columns="columns">
      <tr>
        <td>
          <p-tableCheckbox [value]="spendingList"></p-tableCheckbox>
        </td>
        <td *ngFor="let col of columns" [ngSwitch]="col.field">
          <ng-template ngSwitchDefault>{{spendingList[col.field]}}</ng-template>
          <ng-template ngSwitchCase="spendingDate">{{spendingList[col.field] | date: 'longDate' }}</ng-template>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
    </ng-template>
    <ng-template pTemplate="paginatorright">
      <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
    </ng-template>
  </p-table>
</div>
