
<div class="form-group form-inline">
  <span class="ml-3" *ngIf="spendingListService.loading$ | async">Loading...</span>
</div>

<div class="row">
  <div class="col-sm-12">
    <table class="table table-hover table-striped table-bordered datatable" role="grid">
      <thead>
      <tr role="row">
        <th *ngFor="let column of header"
            scope="col" class="sorting" sortable="{{column}}"
            (sort)="onSort($event)">{{column}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let spending of spendingList$ | async">
        <th scope="row">{{spending.spendingDate | date: 'longDate'}}</th>
        <td>{{spending.amount | number}}</td>
        <td>{{spending.categoryId | category | async}}</td>
        <td>{{spending.accountId | account | async}}</td>
        <td>{{spending.note}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="d-flex justify-content-between p-2">
  <ngb-pagination [collectionSize]="(total$ | async)!"
                  [(page)]="spendingListService.page"
                  [pageSize]="spendingListService.pageSize"
                  [maxSize]="10"
                  [rotate]="true"
                  [boundaryLinks]="true">
  </ngb-pagination>

  <select class="custom-select" style="width: auto"
          name="pageSize"
          [(ngModel)]="spendingListService.pageSize">
    <option [value]="10">10 items per page</option>
    <option [value]="25">25 items per page</option>
    <option [value]="50">50 items per page</option>
    <option [value]="100">100 items per page</option>
  </select>
</div>
<div class="form-group form-inline">
  <span class="ml-3">{{total$ | async}}</span>
</div>
